{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Quan Ly Hoc Sinh</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

  <header class="header">
    <div class="left-section">
      <div class="navbar__toggle" id="sidebar">
        <span>
          <i class="fa-solid fa-bars"></i>
          <i class="fa-solid fa-xmark"></i>
        </span>
      </div>
      <a class="header__logo" href="#">
        <img src="{% static 'images/logo.webp' %}">
        <h2>Quản lý học sinh</h2>
      </a>
    </div>
    <div class="right-section">
      <div class="message-icon-container">
        <span class="login-input-text bg-white text-muted"><i class="fa-regular fa-envelope"></i></span>
        <div class="tooltip">Tin nhắn</div>
        <!-- <div class="message-count">3</div> -->
      </div>
      <div class="notification-icon-container">
        <span class="login-input-text bg-white text-muted"><i class="fa-regular fa-bell"></i></span>
        <div class="tooltip">Thông báo</div>
        <!-- <div class="notification-count">2</div> -->
      </div>
      <nav class="header-menu">
        <div class="user-menu">
          <a href="#">
            <div class="avatar">
              <img src="{% static 'images/profile.png' %}">
            </div>
            <button class="dropdown-button">
              {% comment %} <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                viewBox="0 0 32 32">
                <title>chevron-down</title>
                <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
              </svg> {% endcomment %}
              <span class="login-input-text bg-white text-muted"><i class="fa-solid fa-chevron-down"></i></span>
            </button>
          </a>
        </div>
        <div class="dropdown-menu">
          <a href="{%url 'trang-ca-nhan'%}" class="dropdown-link">
            <i class="fa-solid fa-pen-to-square"></i>
            &nbspThông tin cá nhân
          </a>
          <a href="{% url 'dang-xuat'%}" class="dropdown-link">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            &nbspĐăng xuất
          </a>
        </div>
      </nav>

      <!-- <button class="login">
        Đăng nhập
      </button> -->

    </div>
  </header>

  <nav class="sidebar">
    <header>
      <img src="{% static 'images/profile.png' %}">
      <a href="#">
        <p>{{ user.username }}</p>
      </a>
    </header>
    {% if user.vai_tro == '1' %}
    <!-- Hiển thị tất cả các mục -->
    <a href="{%url 'home'%}" class="sidebar-link">
      <img src="{% static 'images/houses.png' %}">
      Trang chủ
    </a>
    <a href="{%url 'ds-giao-vien'%}" class="sidebar-link">
      <img src="{% static 'images/teachers.png' %}">
      Giáo viên
    </a>
    <a href="{%url 'hoc-sinh'%}" class="sidebar-link">
      <img src="{% static 'images/students.png' %}">
      Học sinh
    </a>
    <a href="{%url 'lop-hoc'%}" class="sidebar-link">
      <img src="{% static 'images/classes.png' %}">
      Lớp học
    </a>
    <a href="{%url 'mon-hoc'%}" class="sidebar-link">
      <img src="{% static 'images/books.png' %}">
      Môn học
    </a>
    <a href="{%url 'diem'%}" class="sidebar-link">
      <img src="{% static 'images/score.png' %}">
      Điểm
    </a>
    <a href="{%url 'tong-ket'%}" class="sidebar-link">
      <img src="{% static 'images/searches.png' %}">
      Báo cáo tổng kết
    </a>
    {% elif user.vai_tro == '3' %}
    <!-- Hiển thị các mục phù hợp với vai_tro = 1 -->
    <a href="{%url 'home'%}" class="sidebar-link">
      <img src="{% static 'images/home.png' %}">
      Trang chủ
    </a>
    <a href="{%url 'ket-qua-hoc-tap'%}" class="sidebar-link">
      <img src="{% static 'images/student.png' %}">
      Kết quả học tập
    </a>
    
    {% else %}
    <!-- Trường hợp không xác định -->
    <a href="{%url 'home'%}" class="sidebar-link">
      <img src="{% static 'images/home.png' %}">
      Trang chủ
    </a>
    <a href="{%url 'quan-ly-diem'%}" class="sidebar-link">
      <img src="{% static 'images/score.png' %}">
      Điểm
    </a>
    <a href="{%url 'lop-chu-nhiem'%}" class="sidebar-link">
      <img src="{% static 'images/classes.png' %}">
      Lớp chủ nhiệm 
    </a>
    {% endif %}

  </nav>

  <main class="list-container">
    {% block content %}

    {% endblock %}
  </main>

  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>