{% extends 'school_app/base.html' %}

{% block content %}
<div class="ds-update-container">
  <h2>Cập nhật điểm cho học sinh</h2>
  {% if messages %}
  <div class="alert alert-success">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }} <!-- Hiển thị các trường trong form -->
    <button type="submit" class="btn-submit">Lưu điểm</button>
  </form>
  <a href="{% url 'diem' %}">
    <button class="btn-cancel">Quay lại danh sách điểm</button>
  </a>
</div>
{% endblock %}