{% extends 'school_app/base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/ds_giao_vien.css' %}" rel="stylesheet" />
<div class="ds-container">
    <div class="ds-giao-vien-add">
        <h2>Danh sách giáo viên</h2>
        <form action="{% url 'them-giao-vien' %}" method="get" style="display: inline;">
            <button type="submit" class="btn-add">Thêm giáo viên</button>
        </form>
    </div>

    <form method="GET" action="#">
        <div class="search-container">
            <input type="text" name="ten_hoc_sinh" value="{{ search_query }}" placeholder="Tìm kiếm giáo viên"
                class="search-input">
            <button type="submit" class="btn-search">Tìm kiếm</button>
        </div>
    </form>

    <table class="table-list">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Chuyên môn</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            {% for giao_vien in giao_vien_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ giao_vien.nguoi_dung.ho_ten }}</td>
                <td>{{ giao_vien.nguoi_dung.ngay_sinh|date:"d/m/Y" }}</td>
                {% if giao_vien.nguoi_dung.gioi_tinh == "1" %}
                <td>Nam</td>
                {% else %}
                <td>Nữ</td>
                {% endif %}
                <td>{{ giao_vien.nguoi_dung.email }}</td>
                <td>{{ giao_vien.nguoi_dung.so_dien_thoai }}</td>
                <td>{{ giao_vien.nguoi_dung.dia_chi }}</td>
                <td>{{ giao_vien.mon_day.ten_mon }}</td>
                <td>
                    <div class="ds-giao-vien-wrap-btn">
                        <form action="{%url 'cap-nhat-gv' giao_vien.id%}" method="GET" style="display: inline;">
                            <button type="submit" class="btn btn-warning">Sửa</button>
                        </form>

                        <form action="{% url 'xoa-gv' giao_vien.id%}" method="POST"
                            onsubmit="return confirm('Bạn có chắc muốn xóa giáo viên này?');">
                            {% csrf_token %}
                            <button type="submit" class="btn-delete">Xóa</button>
                        </form>

                        <form action="{% url 'phan-cong-gv' giao_vien.id%}" method="get" style="display: inline;">
                            <button type="submit" class="btn btn-primary">Phân công lớp</button>
                        </form>
                    </div>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="9">Không có giáo viên nào.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}