{% extends 'school_app/base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/hoc_sinh.css' %}" rel="stylesheet" />
<div class="ds-container">
  <div class="hoc-sinh-add" style="width: unset;">
    <h2>Danh sách học sinh</h2>
    <a href="{% url 'them-hoc-sinh' %}">
      <button class="btn-add">Thêm học sinh mới</button>
    </a>
  </div>

  <!-- Form tìm kiếm -->
  <form method="GET" action="{% url 'hoc-sinh' %}">
    <div class="search-container">
      <input type="text" name="ten_hoc_sinh" value="{{ search_query }}" placeholder="Tìm kiếm học sinh"
        class="search-input">
      <button type="submit" class="btn-search">Tìm kiếm</button>
    </div>
  </form>

  <!-- Bảng danh sách học sinh -->
  <table class="table-list">
    <thead>
      <tr>
        <th>STT</th>
        <th>Họ và tên</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      {% for hocsinh in page_obj %}
      <tr>
        <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
        <td>{{ hocsinh.nguoi_dung.ho_ten }}</td>
        <td>{{ hocsinh.nguoi_dung.ngay_sinh|date:"d/m/Y" }}</td>
        {% if hocsinh.nguoi_dung.gioi_tinh == "1" %}
        <td>Nam</td>
        {% else %}
        <td>Nữ</td>
        {% endif %}
        <td>{{ hocsinh.nguoi_dung.email }}</td>
        <td>{{ hocsinh.nguoi_dung.dia_chi }}</td>
        <td>
          <div class="hoc-sinh-wrap-btn">
            <a href="{% url 'cap-nhat-hoc-sinh' hocsinh.id %}">
              <button class="btn-edit">Sửa</button>
            </a>
            <form action="{% url 'xoa-hoc-sinh' hocsinh.id %}" method="POST"
              onsubmit="return confirm('Bạn có chắc muốn xóa học sinh này?');">
              {% csrf_token %}
              <button type="submit" class="btn-delete">Xóa</button>
            </form>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">Không có học sinh nào.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Điều hướng phân trang -->
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1&ten_hoc_sinh={{ search_query }}">Trang đầu</a>
      <a href="?page={{ page_obj.previous_page_number }}&ten_hoc_sinh={{ search_query }}">Trước</a>
      {% endif %}

      <span class="current">
        Trang {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}&ten_hoc_sinh={{ search_query }}">Tiếp</a>
      <a href="?page={{ page_obj.paginator.num_pages }}&ten_hoc_sinh={{ search_query }}">Trang cuối</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}
