{% extends 'school_app/base.html' %}

{% block content %}
<div class="ds-update-container">
  <h2>Thêm môn học</h2>
  <form method="POST">
    {% csrf_token %}
    <div class="input_field">
      <label for="ma_mon">Mã môn học:</label>
      {{ form.ma_mon }}
    </div>
    <div class="input_field">
      <label for="ten_mon">Tên môn học:</label>
      {{ form.ten_mon }}
    </div>
    <div class="input_field">
      <label for="diem_chuan">Điểm chuẩn:</label>
      {{ form.diem_chuan }}
    </div>
    <button type="submit" class="btn btn-save">Lưu</button>
    <div class="input_field">
      <button type="submit" class="btn-submit">Lưu</button>
    </div>
    <a href="{% url 'mon-hoc' %}">
      <button type="button" class="btn-cancel">Hủy</button>
    </a>
  </form>
</div>
{% endblock %}