.ds-giao-vien-add {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ds-giao-vien-add h2 {
    text-align: center;
    font-weight: 600;
    color: #2c3e50;
}

.ds-giao-vien-wrap-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.ds-giao-vien-wrap-btn form {
    width: unset;
    width: 100%;
}

.ds-giao-vien-wrap-btn form button {
    width: 100%;
}
