.hoc-sinh-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hoc-sinh-add h2 {
    text-align: center;
    font-weight: 600;
    color: #2c3e50;
}

.hoc-sinh-wrap-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.hoc-sinh-wrap-btn form {
    width: unset;
}